<p *ngIf="!meme">Loading......</p>
<mat-card class="meme-card">
    <mat-card-header>
        <img mat-card-avatar src="{{meme.authorPhoto}}" alt="avatar">
        <mat-card-title>{{meme.title}}</mat-card-title>
        <mat-card-subtitle>By {{meme.authorName}} at {{meme.createdAt?.toDate() | date:'dd MMM yyyy, HH:mm'}}
        </mat-card-subtitle>
    </mat-card-header>
    <a routerLink="/meme/details/{{meme.id}}">
        <img mat-card-image src="{{meme.imageUrl}}" alt="{{meme.title}}">
    </a>
    <mat-card-actions *ngIf="user">
        <button *ngIf="!user.likes.includes(meme.id)" mat-button (click)="like(meme.id)">
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button *ngIf="user.likes.includes(meme.id)" mat-button (click)="unLike(meme.id)">
            <mat-icon color="primary">thumb_up</mat-icon>
        </button>
        <!-- <button mat-button>
            <mat-icon>thumb_down</mat-icon>
        </button> -->
        <button mat-button>
            <mat-icon>comment</mat-icon>
        </button>
        <button *ngIf="!user.favorites.includes(meme.id)" mat-button (click)="favorite(meme.id)">
            <mat-icon>favorite</mat-icon>
        </button>
        <button *ngIf="user.favorites.includes(meme.id)" mat-button (click)="unFavorite(meme.id)">
            <mat-icon color="primary">favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>