<mat-card class="meme-card">
    <mat-card-header>
        <img mat-card-avatar src="{{meme.photoURL}}" alt="avatar">
        <mat-card-title>{{meme.title}}</mat-card-title>
        <mat-card-subtitle>By: {{meme.displayName}}</mat-card-subtitle>
    </mat-card-header>
    <a routerLink="/meme/details/{{meme.id}}">
        <img mat-card-image src="{{meme.imageUrl}}" alt="{{meme.title}}">
    </a>
    <mat-card-actions>
        <button mat-button color="accent">
            <mat-icon>thumb_up</mat-icon> 69
        </button>
        <button mat-button>
            <mat-icon>thumb_down</mat-icon> 11
        </button>
        <button mat-button>
            <mat-icon>comment</mat-icon> 5
        </button>
        <button mat-button>
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>