<div class="details-section">
    <app-card></app-card>
    <mat-card>
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon> Go back
            </button>
        </mat-card-actions>
        <mat-card-content>
            <mat-chip-list>
                Tags:
                <mat-chip>makari</mat-chip>
                <mat-chip>hashtag</mat-chip>
                <mat-chip>cute</mat-chip>
                <mat-chip>funny</mat-chip>
                <mat-chip>makari</mat-chip>
                <mat-chip>hashtag</mat-chip>
                <mat-chip>cute</mat-chip>
                <mat-chip>funny</mat-chip>
                <mat-chip>makari</mat-chip>
                <mat-chip>hashtag</mat-chip>
                <mat-chip>cute</mat-chip>
                <mat-chip>funny</mat-chip>
                <mat-chip>makari</mat-chip>
                <mat-chip>hashtag</mat-chip>
                <mat-chip>cute</mat-chip>
                <mat-chip>funny</mat-chip>
                <mat-chip>makari</mat-chip>
                <mat-chip>hashtag</mat-chip>
                <mat-chip>cute</mat-chip>
                <mat-chip>funny</mat-chip>
            </mat-chip-list>
        </mat-card-content>
    </mat-card>
</div>
<div class="details-section">
    <app-comment-form></app-comment-form>
</div>
<div class="details-section">
    <app-comment-card></app-comment-card>
    <app-comment-card></app-comment-card>
    <app-comment-card></app-comment-card>
</div>