<mat-spinner *ngIf="!meme" color="accent"></mat-spinner>

<div class="details-section" *ngIf="meme">
    <app-card [meme]="meme" [user]="user"></app-card>
    <mat-card>
        <mat-card-content>
            <mat-chip-list>
                Tags:
                <mat-chip *ngFor="let tag of meme.tags" routerLink="/meme/search" [queryParams]="{'search': tag}">{{tag}}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon> Go back
            </button>
            <button *ngIf="!user" mat-raised-button color="primary" routerLink="/auth/login">
                <mat-icon>exit_to_app</mat-icon> Login
            </button>
            <button *ngIf="isAuthor" mat-raised-button color="primary" routerLink="/meme/edit/{{meme.id}}">
                <mat-icon>edit</mat-icon> Edit
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div *ngIf="user" class="details-section">
    <app-comment-form [meme]="meme" id="comment-field"></app-comment-form>
</div>
<div class="details-section" *ngFor="let comment of comments$ | async">
    <app-comment-card [comment]="comment"></app-comment-card>
</div>