<mat-card class="comment-card">
    <mat-card-header>
        <img *ngIf="comment.authorPhoto" mat-card-avatar src="{{comment.authorPhoto}}" alt="user">
        <img *ngIf="!comment.authorPhoto" mat-card-avatar src="../../assets/user.png" alt="user">
        <mat-card-subtitle>
            {{comment.authorName}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            {{comment.createdAt?.toDate() | date:'dd MMM yyyy, HH:mm:ss'}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{comment.comment}}</p>
    </mat-card-content>
</mat-card>