<form [formGroup]="addMemeForm" (ngSubmit)="addMemeHandler(addMemeForm.value)" class="add-meme-form">
  <mat-card class="add-meme-form-card">
    <mat-card-header>
      <mat-card-title>Add Meme</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="add-meme-input">
        <mat-label>Title</mat-label>
        <input matInput #title maxlength="140" placeholder="Max 140 characters" formControlName="title" id="title"
          type="text" required>
        <mat-hint align="end">{{title.value?.length || 0}}/140</mat-hint>
        <mat-error *ngIf="addMemeForm.get('title').invalid && addMemeForm.get('title').touched">
          Enter a valid title!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="add-meme-input">
        <mat-label>Image URL</mat-label>
        <input matInput placeholder="http(s)://..." formControlName="imageUrl" id="imageUrl" type="text" required>
        <mat-hint align="end">Valid file types: *.jpg, *.gif, *.png</mat-hint>
        <mat-error *ngIf="addMemeForm.get('imageUrl').invalid && addMemeForm.get('imageUrl').touched">
          Enter a valid image URL!
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="nsfw" id="nsfw">NSFW (Sensitive content)</mat-checkbox>

      <mat-form-field class="add-meme-input">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of addMemeForm.get('tags').value; index as i" [selectable]="selectable"
            [removable]="removable" (removed)="remove(i)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit" [disabled]="addMemeForm.invalid">
        Add Meme
      </button>
    </mat-card-actions>
  </mat-card>
</form>