<mat-card class="four-o-four">
    <mat-card-title>
        <p>
            <mat-icon>sentiment_dissatisfied</mat-icon>
            <mat-icon>sentiment_dissatisfied</mat-icon>
            <mat-icon>sentiment_dissatisfied</mat-icon>
        </p>
        <p>404</p>
        <p>Oops... Seems like you are lost</p>
    </mat-card-title>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="goBack()">
            <mat-icon>arrow_back</mat-icon> Go back
        </button>
        <button mat-raised-button color="accent" routerLink="">
            <mat-icon>home</mat-icon> Home
        </button>
    </mat-card-actions>
</mat-card>